/* CSS Document */
@CHARSET "UTF-8";

.head {
	width: 755px;
	height: 30px;
	background-color: #eee;
	font-size: 15px;
	padding-top: 10px;
}

.rightContent {
	display: inline-block;
	width: 732px;
	height: 100%;
	background-color: #f5f5f5;
	border-bottom: 1px solid black; 
	border-left: 1px solid black;
	border-right: 1px solid black;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}